body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #3d5265; }

.box {
  width: 100%;
  height: 100%; }

.public-container {
  position: relative;
  margin: 0 auto;
  padding: 100px 0 30px;
  max-width: 700px;
  background: #3d5265; }

h2 {
  padding-left: 40px;
  font-family: "Arial";
  color: #fafffe;
  text-align: left; }

.add-task {
  width: 90%;
  margin: 20px auto 10px; }
  .add-task input {
    width: 73%;
    margin-right: 1px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.9); }
  .add-task input:focus {
    color: #666;
    background: #fff;
    -webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.4); }
  .add-task button {
    width: 16%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #4a4a4a;
    background: #3391cc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
    cursor: pointer; }
  .add-task button:hover {
    background: #38b3f8; }

.task-list {
  width: 90%;
  margin: 0 auto; }
  .task-list .taskitem {
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin: 3px 0;
    padding: 5px 10px;
    background: #fff;
    color: #444;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -ms-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s; }
    .task-list .taskitem .task-content {
      padding-left: 10px; }
    .task-list .taskitem .action {
      display: inline-block;
      float: right;
      padding: 2px;
      color: #999;
      font-size: 15px; }
    .task-list .taskitem .action:hover {
      color: #444; }
  .task-list .taskitem:hover {
    background: rgba(255, 255, 255, 0.9); }
  .task-list .completed {
    position: relative;
    color: #aaa;
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); }
  .task-list .completed:after {
    content: "";
    display: block;
    position: absolute;
    right: 3%;
    top: 20px;
    width: 92%;
    height: 1px;
    background: #a2a1a1; }

.task-detail {
  display: none;
  position: absolute;
  right: 0%;
  top: 40%;
  width: 42%;
  height: 310px;
  min-height: 240px;
  padding: 10px;
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 99; }
  .task-detail .content {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: #444;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box; }
  .task-detail .content-title {
    display: none;
    margin: 0 auto;
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    color: #444;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    font-weight: 700;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px #676767;
    -moz-box-shadow: inset 0 0 2px #676767;
    box-shadow: inset 0 0 2px #676767;
    background: rgba(150, 150, 150, 0.1);
    box-sizing: border-box; }
  .task-detail textarea {
    margin: 5px 0 0;
    padding: 8px 10px;
    width: 100%;
    height: 150px;
    min-height: 100px;
    font-size: 16px;
    color: #444;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px #676767;
    -moz-box-shadow: inset 0 0 2px #676767;
    box-shadow: inset 0 0 2px #676767;
    background: rgba(150, 150, 150, 0.1);
    outline: none;
    resize: none;
    box-sizing: border-box; }
  .task-detail .remind {
    width: 100%;
    box-sizing: border-box; }
    .task-detail .remind p {
      padding: 5px 0;
      font-family: "Microsoft YaHei";
      color: #444;
      font-size: 15px; }
    .task-detail .remind input {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 5px;
      background: rgba(150, 150, 150, 0.1);
      border: none;
      outline: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 2px #676767;
      -moz-box-shadow: inset 0 0 2px #676767;
      box-shadow: inset 0 0 2px #676767;
      box-sizing: border-box; }
    .task-detail .remind button {
      display: block;
      float: right;
      margin-top: 10px;
      padding: 5px;
      width: 30%;
      height: 40px;
      text-align: center;
      font-size: 16px;
      font-family: "Microsoft YaHei";
      color: #f4f4f4;
      background: #3993cf;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer; }

.mark {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.3); }

.remind-msg {
  display: none;
  margin: 0 auto;
  padding: 8px;
  max-width: 700px;
  height: auto;
  background: #dd3329;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .remind-msg p {
    padding: 5px;
    text-align: center;
    color: #fff; }
  .remind-msg button {
    outline: none;
    border: 0;
    background: #ccc;
    color: #444;
    border-radius: 5px;
    cursor: pointer; }

/*# sourceMappingURL=demo.css.map */
